@font-face {
  font-family: aleo;
  src: url(../font/AleoVariableGX.ttf);
}

/* @font-face {
    font-family: lora;
    src: url(../font/Lora-MediumItalic.ttf);
} */

@font-face {
  font-family: lora-italic;
  src: url(../font/Lora-MediumItalic.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  /* background: #B0E2FF; */
  width: 100%;
  background: linear-gradient(to right,#00aec7, #5ee2fe, #68d3fe);
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */

}

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 95%);
  --fg: hsl(var(--hue), 90%, 5%);
  --trans-dur: 0.3s;
  /* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); */
}

nav {
  background: #7648f6;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* font-family: aleo; */
}

.nav-logo-name{
  display: flex;
  align-items: center;
  color: #fff;
}

.nav-logo-name img{
  width: 100px;
}

nav .logo {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: aleo;

}

nav ul li {
  display: flex;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: aleo;
}

nav ul li {
  list-style: none;
}

#all-blogs-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#log-Out {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

#all-blogs {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.heading {
  background-color: #f3ebeb;
  padding: 1em;
  position: relative;
  width: 100%;
  font-family: aleo;
  border: 1px solid black;
}

.heading .head-name {
  margin-left: 5em;
  font-family: aleo;


}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  

}


.container .card {
  width: 660px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .card form {
  display: flex;
  flex-direction: column;
}

.container .card form .input-post,
.container .card form .input-des {
  margin-bottom: 15px;
}

.container .card form input[type="text"],
.container .card form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: aleo;

}

.container .card form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container .card form button:hover {
  background-color: #0056b3;
}

.container .card form input[type="text"]:focus,
.container .card form textarea:focus {
  outline: none;
  border-color: #7b68ee;
  box-shadow: 0 0 5px rgba(123, 104, 238, 0.5);
  animation: blinkBorder 1s infinite alternate;
}

@keyframes blinkBorder {
  from {
    border-color: #d478f8;
  }

  to {
    border-color: #ccc;
  }
}

#render-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.container-body {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  /* margin-left: 2em; */
  align-items: center;
  padding: 1em;
  margin-top: 1em;
  flex-wrap: wrap;
}

/* card contaienr  style */


/* all blogs container */
.blogs-container {
  margin-left: 1.600em;
  margin-top: 2em;
}

.card {
  background: rgb(125, 204, 195);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  width: 80%;
  margin: 0 auto;
  transition: transform 0.2s, box-shadow 0.2s;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: borderAnimation 4s infinite;
  margin-bottom: 2em;
}

.card:hover {
  transform: translateY(-5px) translateZ(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


/*  */
.blogs-container .img-name {
  display: flex;
  align-items: center;
  gap: 1.900em;
  padding: 0.500em;

}

.blogs-container .img-name #user-img {
  margin-left: 1em;
  width: 80px;
  height: 90px;
  object-fit: cover;
  border-radius: 30px;
}

.blogs-container .img-name .name-date-container {

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.blogs-container .img-name .name-date-container h3 {
  font-family: lora-italic;
  color: #141414;
  font-size: 1.600rem;
}

.blogs-container .img-name .name-date-container span {
  margin-left: 0.500em;
  font-size: 0.800rem;
  font-size: 0.800rem;
  font-family: lora-italic;
  align-self: flex-end;
}



.blogs-container .title-desc-container {
  margin-left: 1.500em;
  padding: 0.500em;
  line-height: 1.8;

}

.blogs-container .title-desc-container h2 {
  padding: 0.300em;
  font-family: aleo;
  color: #35353a;
  font-size: 1.500rem;
}

.blogs-container .title-desc-container p {
  font-family: lora;
  padding: 0.300em;
  color: #1f1b1b;
  font-size: 1.250rem;
}



/* ---------------------- */

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .card {
    padding: 0.8em;
  }
}


/* button code  */


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #f0f0f0;
  border: none;
  background: transparent;
  touch-action: manipulation;
  white-space: nowrap;
  padding: 1em;
  gap: 2em;
  font-family: aleo;
}

.button-bk {
  /* all: unset; */
  width: 100px;
  height: 35px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: black;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-bk::after,
.button-bk::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-bk::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #66c2c9, #ddd7b4);
  border-radius: 10px;
}

.button-bk::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #47303015;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-bk:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-bk:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-bk:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.anchor-param {
  width: 100%;
  display: flex;
}

.user-param {
  text-decoration: none;
  font-family: aleo;
  color: #0e396b;
  /* border: 1px solid black; */



}



/* loader code */
#loader {
  display: none;
  height: 100vh;
  margin-left: 30em;
  z-index: 1;
  position: fixed;
  align-items: center;

}

.loader-title {
  text-align: center;
  color: #e5f600;
  font-size: 1.500rem;
  font-weight: bolder;
  margin-left: 1em;
  margin-bottom: 0.250em;

}

.ip {
  width: 300px;
  height: 100px;
}

.ip__track {
  stroke: hsl(var(--hue), 90%, 90%);
  transition: stroke var(--trans-dur);
}

.ip__worm1,
.ip__worm2 {
  animation: worm1 2s linear infinite;
}

.ip__worm2 {
  animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 5%);
    --fg: hsl(var(--hue), 90%, 95%);
  }

  .ip__track {
    stroke: hsl(var(--hue), 90%, 15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }

  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }

  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }

  50% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -358;
  }
}

/* 


/* modal code  */
.container-modal {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.card-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#post-form-modal {
  background-color: #e6e7e7;
  width: 600px;
  height: 330px;
  padding: 15px;
  border-radius: 10px;
  display: none;
}

#post-form-modal h2 {
  padding: 5px;
  margin-bottom: 5px;
  font-family: aleo;
}

.input-post-modal input[type='text'],
.input-des textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: aleo;
  color: #141414;
}

.input-des .btn-primary-modal {
  width: 100%;
  background-color: #0056b3;
  margin-bottom: 10px;
  font-family: aleo;
  cursor: pointer;
}

.input-des #cancel-post {
  width: 100%;
  background-color: #eb2431;
  margin-bottom: 10px;
}